<section class="mainArea">
    <div class="btnArea common">
        <button mat-fab class="buttonCSS" (click)="displayJSON(1)"> Blouse</button>
        <button mat-fab class="buttonCSS" (click)="displayJSON(2)"> Boots</button>
        <button mat-fab class="buttonCSS" (click)="displayJSON(3)"> Dress</button>
        <button mat-fab class="buttonCSS" (click)="displayJSON(4)"> Heels</button>
        <button mat-fab class="buttonCSS" (click)="displayJSON(5)"> Jacket</button>
        <button mat-fab class="buttonCSS" (click)="displayJSON(6)"> Journal</button>
        <button mat-fab class="buttonCSS" (click)="displayJSON(7)"> Pants</button>
        <button mat-fab class="buttonCSS" (click)="displayJSON(8)"> Pillow</button>
        <button mat-fab class="buttonCSS" (click)="displayJSON(9)"> Sneaker</button>
        <button mat-fab class="buttonCSS" (click)="displayJSON(10)"> Sweater</button>
    </div>
    <div class="common">

      <section class="gridArea">
        <div class="imgArea common">
          <p [innerHTML]="imgArea"></p>
        </div>
        <div class="listArea common">
          <p [innerHTML]="outArea"></p>
        </div>
      </section>

      
    </div>
  </section>
  