<app-header [headerInfo] = 'bio' ></app-header>

<mat-tab-group mat-stretch-tabs  
               class="example-stretched-tabs mat-elevation-z4"
		[ngStyle]="{textAlign: 'center'}">

        <mat-tab>
            <ng-template mat-tab-label>
                <span class="tab-text">
                    Company Info &nbsp;&nbsp;<mat-icon color="accent"><span class="material-icons">
                        work_outline
                        </span></mat-icon>
                </span>
            </ng-template>
            <app-company-info [companyInfo] = "companyMain" ></app-company-info>
        </mat-tab>

        <mat-tab>
            <ng-template mat-tab-label>
                <span class="tab-text">
                    All Products &nbsp;&nbsp;<mat-icon color="accent"><span class="material-icons">
                        shopping_cart
                        </span></mat-icon>
                </span> 
            </ng-template>
            <app-products [products] = "productsMain"></app-products>
        </mat-tab>

        <mat-tab>
            <ng-template mat-tab-label>
                <span class="tab-text">
                    Products by Category &nbsp;&nbsp;<mat-icon color="accent"><span class="material-icons">
                        shopping_basket
                        </span></mat-icon>
                </span>
            </ng-template>
            <app-products-by-category [products] = "productsMain" [categories] = 'categoryMain'></app-products-by-category>
        </mat-tab>
    
    
        <mat-tab>
        <ng-template mat-tab-label>
            <span class="tab-text">
                Personal Information &nbsp;&nbsp;<mat-icon color="accent">face</mat-icon>
            </span>
        </ng-template>
        <app-personal-info [headerInfo] = 'bio' ></app-personal-info>
    </mat-tab>
</mat-tab-group>

<app-footer></app-footer>

