table {
    border: 2px double black;
    width: 98%;
    margin: 4px;
  }
  
  tr:nth-child(even) {
    background-color: lightgray;
    border: thin solid black;
  }
  td {border: thin solid black;}
  
  .title {font-weight: bold; text-align: center; color: 301262;}