<section class="gridArea">
    <div class="imgArea common">
      <img src="assets/img/{{headerInfo.imgName}}.jpg" width="150px">
    </div>
    <div class="listArea common">
      <h3>My Personal Info:</h3>
      <!-- <ul>
        <li>First Name: {{headerInfo.fname}}</li>
        <li>Last Name: {{headerInfo.lname}}</li>
        <li>Student ID: {{headerInfo.sid}}</li>
        <li>Username: {{headerInfo.username}}</li>
      </ul> -->
      <p>
        <strong>First Name : </strong>{{headerInfo.fname}} <br>
        <strong>Last Name : </strong>{{headerInfo.lname}} <br>
        <strong>Student ID : </strong>{{headerInfo.sid}} <br>
        <strong>Username : </strong>{{headerInfo.username}} <br>
      </p>
    </div>
  </section>
  